In [1]:
import pandas as pd

In [2]:
def get_featured_df(path_to_df, is_train):
    big_table_df = pd.read_csv(path_to_df)
    
    big_table_df['running_time'] = pd.to_datetime(big_table_df['running_time'])
    if is_train:
        big_table_df['completed_time'] = pd.to_datetime(big_table_df['completed_time'])
    
    big_table_df["is_work_hour"] = [1 if (i >= 8 and i <= 18) else 0 for i in big_table_df['running_time'].dt.hour]
    big_table_df['is_night_time'] = [1 if (i >= 19 and i <= 23) else 0 for i in big_table_df['running_time'].dt.hour]
    big_table_df['is_late_night_time'] = [1 if (i >= 0 and i <= 5) else 0 for i in big_table_df['running_time'].dt.hour]
    big_table_df['is_rush_hour'] = [1 if ((i >= 6 and i <= 9) or (i >= 17 and i <= 20)) else 0 for i in big_table_df['running_time'].dt.hour]
    
    return big_table_df

In [3]:
big_table_train_df = get_featured_df("datasets/big-table-train.csv", is_train=True)
big_table_train_df.head()

,Id,running_time,completed_time,route_distance_km,delta_time,node_start,node_finish,distance,speed,average_speed,lon_start,lat_start,lon_end,lat_end,is_work_hour,is_night_time,is_late_night_time,is_rush_hour
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980417,4768348185,31.771489,30.0,29.537736,30.738275,46.468524,30.738097,46.468266,1,0,0,1
1,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980418,1570776947,3.673054,24.0,29.537736,NaN,NaN,NaN,NaN,1,0,0,1
2,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980430,4768348188,15.550612,27.0,29.537736,NaN,NaN,NaN,NaN,1,0,0,1
3,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980431,5125489557,50.034390,29.0,29.537736,30.739016,46.471232,30.738957,46.470784,1,0,0,1
4,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.74,862.0,10980432,5213300015,13.453126,30.0,29.537736,30.739248,46.472665,30.739226,46.472545,1,0,0,1

In [4]:
big_table_train_df.to_csv("datasets/big-table-train.csv", index=False)

In [5]:
big_table_test_df = get_featured_df("datasets/big-table-test.csv", is_train=False)
big_table_test_df.head()

,Id,running_time,route_distance_km,node_start,node_finish,distance,speed,average_speed,lon_start,lat_start,lon_end,lat_end,is_work_hour,is_night_time,is_late_night_time,is_rush_hour
0,6198,2022-01-24 03:38:30,4.744,8952394129,8952394128,138.795710,37.0,47.573034,NaN,NaN,NaN,NaN,0,0,1,0
1,6198,2022-01-24 03:38:30,4.744,2059503754,4548172320,95.273001,33.0,47.573034,30.724095,46.431127,30.724951,46.431748,0,0,1,0
2,6198,2022-01-24 03:38:30,4.744,2059504508,2059503754,137.647881,35.0,47.573034,30.722883,46.430222,30.724095,46.431127,0,0,1,0
3,6198,2022-01-24 03:38:30,4.744,1570776534,1977018578,4.383708,30.0,47.573034,NaN,NaN,NaN,NaN,0,0,1,0
4,6198,2022-01-24 03:38:30,4.744,1977018580,1977018576,24.195593,31.0,47.573034,30.725686,46.437680,30.725999,46.437652,0,0,1,0

In [6]:
big_table_test_df.to_csv("datasets/big-table-test.csv", index=False)